/* ****************************
GENERAL
 *****************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #128C7E 0%,
        #128C7E 15%,
        #dce0dc 15%,
        #dce0dc 100%
    );
}

/* ****************************
UTILITIES
 *****************************/
.h-section{
    height: 68px;
    /* CANCELLARE A FINE PROGETTO
    SE TUTTE LE ALTEZZE SONO DETTATE 
    DAGLI ELEMENTI */
}

.ml-12{
    margin-left: 12px;
}

.f-grow{
    flex-grow: 1;
}

.bd{
    border: 1px solid #000;
    /* CANCELLARE A FINE PROGETTO */
}

.avatar{
    width: 49px;
    border-radius: 50%;
}

.avatar.chat{
    width: 59px;
}

.flex-space-bet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
}

.flex-vert-center{
    display: flex;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.utilities i{
    font-size: 21px;
    color: #bababa;
    margin-right: 19px;
}

.soft-font{
    font-size: 14px;
}

/* ****************************
APP
 *****************************/
#app{
    display: flex;
    height: 95%;
    min-width: 800px;
    width: 75%;
    background-color: #fff;
}

/* ****************************
ASIDE 
 *****************************/
#app .content-left{
    width: 35%;
    border-right: 2px solid #e5ddd5;
}

/* PROFILE SECTION */
.content-left .profile{
    background-color:#ededed;
}

/* NOTIFY SECTION */
.content-left .notify{
    padding: 9px 15px;
    background-color: #a2dffe;
}

.content-left .notify .bell{
    justify-content: center;
    width: 49px;
    height: 49px;
    background-color: #fff;
    border-radius: 50%;
    color: #a2dffe;
    font-size: 19px;
    cursor: pointer;
}

.content-left .notify .content-notify a{
    margin-top: 3px;
    font-weight: 400;
    color: #4f6b79;
}

/* SEARCH SECTION */
.content-left .search{
    padding: 8px;
    display: flex;
    background-color: #f6f6f6;
}

.content-left .search div{
    justify-content: center;
    height: 32px;
    width: 71px;
    background-color: #fff;
    color: #bababa;
    cursor: pointer;
}

.content-left .search input{
    padding: 0 5px;
    height: 32px;
    flex-grow: 1;
    border: none;
    outline: none;
}

.content-left .search input:focus{
    box-shadow: 0 0 5px 1px #a2dffe;
}

/* CONTACT SECTION */
.content-left .contacts .contact{
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color .2s;
}

.content-left .contacts .contact:hover{
    background-color: #f6f6f6;
}
#f6f6f6
.content-left .contacts .contact:not(:last-child){
    border-bottom: 2px solid #f6f6f6;
}

.content-left .contacts .contact span{
    margin-left: 20px;
}

/* ****************************
MAIN 
 *****************************/
#app .content-right{
    width: 65%;
}

/* MAIN HEADER */
.main-header .interlocutor .name-date span:last-child{
    margin-top: 3px;
    color: #777e82;
}

/* SECTION MAIN-HEADER */
.content-right .main-header{
    background-color:#ededed
}

/* SECTION MAIN-CHAT */
.content-right .main-chat{
    background-image: url("../img/mine.jpg");
}

/* SECTION MAIN-FOOTER */
.content-right .main-footer{
    background-color: #f4f0ed;
}