/* ****************************
GENERAL
 *****************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #128C7E 0%,
        #128C7E 15%,
        #dce0dc 15%,
        #dce0dc 100%
    );
}

/* ****************************
UTILITIES
 *****************************/
.h-section{
    height: 68px;
    /* CANCELLARE A FINE PROGETTO
    SE TUTTE LE ALTEZZE SONO DETTATE 
    DAGLI ELEMENTI */
}

.ml-12{
    margin-left: 12px;
}

.f-grow{
    flex-grow: 1;
}

.bd{
    border: 1px solid #000;
    /* CANCELLARE A FINE PROGETTO */
}

.avatar{
    width: 49px;
    border-radius: 50%;
}

/* ****************************
APP
 *****************************/
#app{
    display: flex;
    height: 95%;
    min-width: 800px;
    width: 75%;
    background-color: #fff;
}

#app .content-left,
#app .content-right{
    display: flex;
    flex-direction: column;
}

/* ****************************
ASIDE 
 *****************************/
#app .content-left{
    display: flex;
    flex-direction: column;
    width: 35%;
    border-right: 1px solid #eae8e6;
}

/* PROFILE SECTION */
.content-left .profile{
    display: flex;
    padding: 8px 10px;
    justify-content: space-between;
    align-items: center;
    background-color:#ededed;
}

.content-left .profile .user{
    display: flex;
    align-items: center;
}

.content-left .profile .utilities i{
    font-size: 21px;
    color: #bababa;
    margin-right: 19px;
}

/* NOTIFY SECTION */
.content-left .notify{
    background-color: #a2dffe;
}

/* SEARCH SECTION */
.content-left .search{
    height: 50px;
    background-color: #fbfbfb;
}

/* ****************************
MAIN 
 *****************************/
#app .content-right{
    width: 65%;
}

/* SECTION MAIN-HEADER */
.content-right .main-header{
    background-color:#ededed
}

/* SECTION MAIN-CHAT */
.content-right .main-chat{
    background-image: url("../img/mine.jpg");
}

/* SECTION MAIN-FOOTER */
.content-right .main-footer{
    background-color: #f4f0ed;
}