/* ****************************
GENERAL
 *****************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #128C7E 0%,
        #128C7E 15%,
        #dce0dc 15%,
        #dce0dc 100%
    );
}

/* ****************************
UTILITIES
 *****************************/
.ml-12{
    margin-left: 12px;
}

.f-grow{
    flex-grow: 1;
}

.avatar{
    width: 49px;
    border-radius: 50%;
}

.avatar.chat{
    width: 59px;
}

.flex{
    display: flex;
}

.flex-space-bet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
}

.flex-tot-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vert-center{
    display: flex;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.utilities i{
    font-size: 21px;
    color: #bababa;
    margin-right: 19px;
    transition: color .3s;
}

.utilities i:hover{
    color: #232946;
}

.soft-font{
    font-size: 14px;
}

.input{
    padding: 0 5px;
    height: 32px;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 0.7rem;
    color: #727070;
}

.input:focus{
    box-shadow: 0 0 5px 1px #a2dffe;
}

.relative{
    position: relative;
}

/* ****************************
APP
 *****************************/
#app{
    height: 95%;
    min-width: 900px;
    width: 78%;
    background-color: #fff;
}

/* ****************************
ASIDE 
 *****************************/
#app .content-left{
    width: 35%;
    border-right: 2px solid #e5ddd5;
}

/* PROFILE SECTION */
.content-left .profile{
    background-color:#ededed;
}

/* NOTIFY SECTION */
.content-left .notify{
    padding: 12px 15px;
    background-color: #a2dffe;
}

.content-left .notify-active{
    background-color: #128C7E;
}

.content-left .notify .bell{
    width: 49px;
    height: 49px;
    background-color: #fff;
    border-radius: 50%;
    color: #a2dffe;
    font-size: 19px;
    cursor: pointer;
}

.content-left .notify .bellActive{
    color: #128C7E ;
}

.content-left .notify .content-notify a{
    margin-top: 3px;
    font-weight: 400;
    color: #4f6b79;
}

.content-left .notify .content-notify a.active{
    color: #fff;
}

/* SEARCH SECTION */
.content-left .search{
    padding: 8px;
    background-color: #f6f6f6;
}

.content-left .search div{
    height: 32px;
    width: 71px;
    background-color: #fff;
    color: #bababa;
}

/* CONTACT SECTION */
.content-left .contacts{
    overflow-y: auto;
}

.content-left .contacts .contact{
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color .2s;
}

.content-left .contacts .contact:hover{
    background-color: #f6f6f6;
}

.content-left .contacts .contact:not(:last-child){
    border-bottom: 2px solid #f6f6f6;
}

.content-left .contacts .contact span{
    margin-left: 20px;
}

.content-left .contacts .contact.active-bk{
    background-color: #bababa;
}

.last-access{
    width:100%;
    text-align: right;
    font-size: 12px;
    color: #bababa;
}


/* ****************************
MAIN 
 *****************************/
#app .content-right{
    width: 65%;
}

/* MAIN HEADER */
.main-header .interlocutor .name-date span:last-child{
    margin-top: 3px;
    color: #777e82;
}

/* SECTION MAIN-HEADER */
.content-right .main-header{
    background-color:#ededed
}

/* SECTION MAIN-CHAT */
.content-right .main-chat{
    background-image: url("../img/mine.jpg");
    overflow-y: auto;
}

.container-sent{
    justify-content: flex-end;
}

.message-sent,
.message-received{
    padding: 15px 4px 5px 15px;
    min-width: 312px;
    min-height: 51px;
    border-radius: 10px;
    background-color: #ddfabf;
}

.container-chat div:not(:last-child){
    margin-bottom: 10px;
}

.message-received{
    background-color: #fff;
}

.message-sent span:last-child,
.message-received span:last-child{
    font-size: 10px;
    text-align: right;
    color: #bababa;
}

.content-right .container-chat{
    height: 100%;
    padding: 50px 100px;
}

/* SECTION MAIN-FOOTER */
.content-right .main-footer{
    padding: 9px 0;
    background-color: #f4f0ed;
}

.content-right .main-footer div{
    width: 97px;
    font-size: 24px;
}

.content-right .main-footer div i{
    color: #787f83;
    transition: color .3s;
}

.content-right .main-footer div i:hover{
    color: #232946;
}

.main-footer > div > .emoji{
    width: 300px;
    position: absolute;
    padding: 20px;
    bottom: 60px;
    left: 0px;
    height: 150px;
    border-radius: 8px;
    background-color: #f4f0ed;
    overflow-y: auto;
    flex-wrap: wrap;
}

.main-footer > div > .emoji .space-emoji{
    width: calc(100% / 6);
    text-align: center;
}

.main-footer > div > .emoji a{
    text-decoration: none;
}

.content-right .main-footer input{
    height: 48px;
    padding-left: 10px;
    font-size: 0.95rem;
}