<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">
    <!-- LINK GOOGLEFONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- LINK FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Whatsapp Web</title>
</head>

<body>
    <!-- APP / VUE -->
    <div id="app" class="flex relative">
        <!-- ASIDE -->
        <aside class="content-left flex-column">

            <!-- PROFILE SECTION -->
            <section class="profile flex-space-bet">
                <!-- USER -->
                <div class="user flex-vert-center">
                    <a href="#"><img class="avatar" :src="'./img/avatar'+ myAccount.avatar +'.jpg'" alt="My avatar"></a>
                    <span class="ml-12">{{myAccount.name}}</span>
                </div>
                <!-- UTILITIES -->
                <div class="utilities">
                    <a href="#"><i class="fas fa-circle-notch"></i></a>
                    <a href="#"><i class="fas fa-comment-alt"></i></a>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
            </section>

            <!-- NOTIFY SECTION -->
            <section 
            class="notify flex-vert-center"
            :class="{'notify-active': notify}">
                <div @click="notifyActive" class="bell flex-tot-center">
                    <i 
                        class="fas"
                        :class="notify ? 'fa-bell bellActive' : 'fa-bell-slash'">
                    </i>
                </div>
                <div class="content-notify flex-column ml-12">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <a 
                        @click="notifyActive"
                        href="#" 
                        :class="{active : notify}"
                        class="soft-font">
                        {{notifyText}}
                    </a>
                </div>
            </section>

            <!-- SEARCH SECTION -->
            <section class="search flex">
                <div class="flex-tot-center"><i class="fas fa-search"></i></div>
                <input class="input"
                v-model="search" 
                type="text"
                @keyup="filter"
                placeholder="Cerca o inizia una nuova chat">
            </section>

            <!-- CONTACT SECTION -->
            <section class="contacts f-grow">
                <!-- TEMPLATE CONTATTO DA DUPLICARE -->
                <div
                v-for="(element, index) in list" 
                v-show="element.visible"
                class="contact flex-vert-center"
                :class="{'active-bk': element.active}"
                @click="activeElement(element,index)"
                :key="index + '-' + element.name">
                    <img class="avatar chat" 
                    :src="'./img/avatar'+element.avatar+'.jpg'" 
                    :alt="'avatar di '+ element.name">
                    <span>{{element.name}}</span>
                    <span class="last-access">{{lastAccessArray[index]}}</span>
                </div>
            </section>
        </aside>

        <!-- MAIN -->
        <main class="content-right flex-column">

            <!-- MAIN-HEADER -->
            <section class="main-header flex-space-bet">
                <!-- INTERLOCUTOR -->
                <div class="interlocutor flex-vert-center">
                    <a href="#"><img class="avatar" :src="'./img/avatar'+list[indexActive].avatar+'.jpg'" :alt="list[indexActive].name"></a>
                    <div class="name-date ml-12 flex-column">
                        <span>{{list[indexActive].name}}</span>
                        <span class="soft-font">
                            Ultimo accesso {{lastAccessArray[indexActive]}}
                        </span>
                    </div>
                </div>
                <div class="utilities">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="fas fa-paperclip"></i></a>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
            </section>

            <!-- MAIN-CHAT -->
            <section class="main-chat f-grow">
                <div class="container-chat">
                    <!-- chat assegnata dinamicamente con vue.js -->
                    <div
                    v-for="messages in list[indexActive].messages"
                    class="container-received flex"
                    :class="{'container-sent': messages.status == 'sent'}">
                        <div
                        class="flex-column message-sent"
                        :class="{'message-received': messages.status == 'received'}">
                            <span>{{messages.message}}</span>
                            <span class="date">{{messages.date}}</span>
                        </div>
                    </div>
                </div>
            </section>

            <!-- MAIN-FOOTER -->
            <section class="main-footer flex">
                <div class="flex-tot-center relative">
                    <a href="#" @click="statusEmoji">
                        <i class="far fa-smile"></i>
                    </a>
                    <!-- STAMPA EMOJI CON V-FOR -->
                    <div v-show="showEmoji" class="emoji flex">
                        <div v-for="(element,index) in emoji" 
                        class="space-emoji"
                        :key="index + 'indice emoji'">
                        <a @click="addEmoji(element)" href="#">{{element}}</a>
                    </div>
                    </div>
                </div>
                <!-- INPUT -->
                <input 
                ref="input"
                v-model.trim="newText" 
                class="input f-grow"type="text" 
                @keyup.enter="input"
                placeholder="Scrivi un messaggio">
                <div class="flex-tot-center">
                    <a href="#"><i class="fas fa-microphone"></i></a>
                </div>
            </section>
        </main>

        <!-- ALERT NOTIFY -->
        <div v-show="alert" class="alert-notify flex-tot-center flex-column">
            <h2>{{alertText}}</h2>
            <i 
                class="fas"
                :class="notify ? 'fa-bell bellActive' : 'fa-bell-slash'">
            </i>
        </div>
    <!-- end app/ Vue -->
    </div>

    <!-- DAY JS -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <!-- JS -->
    <script src="./js/script.js"></script>
</body>
</html>